# Pandas Tutorial from YT video

Rob Mulla: https://www.youtube.com/watch?v=DkjCaAMBGWM

In [3]:
import pandas as pd
import numpy as np

## I/O Reading & Writing

Getting data.

Tutorial has a link to download flights data from Kaggle repo. Was not able to successfully download - was in zip file and looks VERY large.

Will follow along with my own data.

In [5]:
df_exp = pd.read_csv('exp_cats_gpt.csv')

## Explore

In [ ]:
# get random sample of rows
df_exp.sample(10)

,type,date,amount,id,name,memo,source,category,spend_type,vendor,month,year,added,updated
241,DEBIT,2025-02-24T00:00:00Z,-40.82,2025022443125,DD/DOORDASHIGNITEPIZZE,DD/DOORDASHIGNITEPIZZE,cap_one_visa,food & bev,nec - discretionary,NaN,02-2025,2025,NaN,NaN
471,DEBIT,2025-03-19T00:00:00Z,-0.04,2025-02-20~2025-03-19~2058228,INTEREST CHARGE -PURCHASE,NaN,td_visa,int/bank chg/tax,discretionary,NaN,03-2025,2025,NaN,NaN
397,DEBIT,2025-05-02T00:00:00Z,-5.00,25122182730391000,NSF PAID FEE,NaN,td_ch,int/bank chg/tax,nec - fixed,NaN,05-2025,2025,NaN,NaN
0,DEBIT,2025-03-02T00:00:00Z,-12.65,809-45080-100003027281,Point Of Sale Withdrawal,Store VancouverBCCA,beem_ch,food & bev,nec - discretionary,NaN,03-2025,2025,NaN,NaN
351,DEBIT,2025-06-30T00:00:00Z,-84.34,NaN,DoorDash,Dining,cap_one_visa,food & bev,nec - discretionary,NaN,06-2025,2025,NaN,NaN
506,DEBIT,2025-05-06T00:00:00Z,-5.00,2025-04-22~2025-05-07~1754092,IMPARK00011928U,NaN,td_visa,auto/local trans,discretionary,NaN,05-2025,2025,NaN,NaN
607,DEBIT,2025-07-28T00:00:00Z,-10.49,202507281032279,DOORDASHDASHPASS,DOORDASHDASHPASS,cap_one_visa,food & bev,NaN,NaN,07-2025,2025,2025-08-01T00:00:00Z,NaN
626,DEBIT,2025-07-19T00:00:00Z,-810.16,1000030272813281D,Bill Payment,"Capital One Mastercard, Confirmation 59406182",beem_ch,transfer/pmt,NaN,NaN,07-2025,2025,2025-08-01T00:00:00Z,NaN
272,DEBIT,2025-04-01T00:00:00Z,-14.69,202504011354532,"GITHUB, INC.","GITHUB, INC.",cap_one_visa,business,bus - fixed,NaN,04-2025,2025,NaN,NaN
382,DEBIT,2025-03-31T00:00:00Z,-3.95,25091051245920030,MONTHLY ACCOUNT FEE,NaN,td_ch,int/bank chg/tax,nec - fixed,NaN,03-2025,2025,NaN,NaN

In [7]:
# get random sample of fraction of rows
df_exp.sample(frac=0.1) # 10% of rows

,type,date,amount,id,name,memo,source,category,spend_type,vendor,month,year,added,updated
319,DEBIT,2025-05-26T00:00:00Z,-112.45,202505261004078,DD/DOORDASHIGNITEPIZZE,DD/DOORDASHIGNITEPIZZE,cap_one_visa,food & bev,nec - discretionary,NaN,05-2025,2025,NaN,NaN
402,DEBIT,2025-05-12T00:00:00Z,-617.96,25131234704091000,RODNEY'S OYSTER,NaN,td_ch,food & bev,nec - discretionary,NaN,05-2025,2025,NaN,NaN
48,DEBIT,2025-04-01T00:00:00Z,-845.38,3093,External Withdrawal Mortgage,Home Trust Company 0002824971,beem_ch,rental inc,nec - discretionary,NaN,04-2025,2025,NaN,NaN
51,DEBIT,2025-04-02T00:00:00Z,-132.83,3096,Point Of Sale Withdrawal,INDIAN FUSION RESTAURA NORTH VANCBCCA,beem_ch,food & bev,NaN,EA,04-2025,2025,NaN,NaN
297,DEBIT,2025-04-28T00:00:00Z,-32.54,202504281037598,REBEL.CA,REBEL.CA,cap_one_visa,business,bus - fixed,NaN,04-2025,2025,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225,CREDIT,2025-07-15T00:00:00Z,1503.30,1000030272813272C,External Deposit,Rent/Leases VANTAGE WEST-NEW TRUST AR4070,beem_ch,rental inc,NaN,NaN,07-2025,2025,NaN,NaN
296,DEBIT,2025-04-28T00:00:00Z,-10.49,202504281037608,DOORDASHDASHPASS,DOORDASHDASHPASS,cap_one_visa,food & bev,nec - discretionary,NaN,04-2025,2025,NaN,NaN
581,DEBIT,2025-07-14T00:00:00Z,-10.75,2025-06-20~2025-07-15~1803510,TESLA,NaN,td_visa,entertainment,NaN,NaN,07-2025,2025,NaN,NaN
288,DEBIT,2025-04-19T00:00:00Z,-43.14,20250419950388,DD/DOORDASHJUKEFRIEDCH,DD/DOORDASHJUKEFRIEDCH,cap_one_visa,food & bev,nec - discretionary,NaN,04-2025,2025,NaN,NaN
201,DEBIT,2025-07-03T00:00:00Z,-185.06,1000030272813244D,Point Of Sale Withdrawal,GRANVILLE ISLAND KEG # VANCOUVERBCCA,beem_ch,food & bev,NaN,NaN,07-2025,2025,NaN,NaN

In [8]:
# random fraction, set seed
df_exp.sample(frac=0.1, random_state=111)

,type,date,amount,id,name,memo,source,category,spend_type,vendor,month,year,added,updated
422,DEBIT,2025-06-02T00:00:00Z,-371.28,25153131828271000,KOODO MOBILE J5Q3L4,NaN,td_ch,utilities,nec - fixed,NaN,06-2025,2025,NaN,NaN
150,DEBIT,2025-06-08T00:00:00Z,-9.99,1000030272813201D,Point Of Sale Withdrawal,JAPADOG RICHMONDBCCA,beem_ch,food & bev,nec - discretionary,NaN,06-2025,2025,NaN,NaN
261,DEBIT,2025-03-19T00:00:00Z,-39.04,20250319955089,DD/DOORDASHTHEPERIPERI,DD/DOORDASHTHEPERIPERI,cap_one_visa,food & bev,nec - discretionary,NaN,03-2025,2025,NaN,NaN
192,DEBIT,2025-06-25T00:00:00Z,-84.24,1000030272813236D,Point Of Sale Withdrawal,WHOLE FOODS MARKET VANCOUVERBCCA,beem_ch,food & bev,nec - discretionary,NaN,06-2025,2025,NaN,NaN
12,DEBIT,2025-03-10T00:00:00Z,-2.82,809-45080-100003027281,Point Of Sale Withdrawal,365 MARKET CA 2 MISSISSAUGONCA,beem_ch,food & bev,nec - discretionary,NaN,03-2025,2025,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237,DEBIT,2025-02-21T00:00:00Z,-128.51,202502211004570,ATHLETICGREENS,ATHLETICGREENS,cap_one_visa,food & bev,nec - discretionary,NaN,02-2025,2025,NaN,NaN
251,DEBIT,2025-03-05T00:00:00Z,-3.13,202503051027057,GOOGLE *Google One,GOOGLE *Google One,cap_one_visa,utilities,nec - fixed,NaN,03-2025,2025,NaN,NaN
249,DEBIT,2025-03-03T00:00:00Z,-15.67,2025030349566,TESLA,TESLA,cap_one_visa,entertainment,discretionary,NaN,03-2025,2025,NaN,NaN
39,CREDIT,2025-03-28T00:00:00Z,1800.00,809-45080-100003027281,External Deposit,Payroll Deposit Electronic Arts Inc. 202503281,beem_ch,income,NaN,NaN,03-2025,2025,NaN,NaN
421,DEBIT,2025-06-02T00:00:00Z,-634.85,25153131828231000,CAPTL ONE MC J5Q3L3,NaN,td_ch,transfer/pmt,NaN,NaN,06-2025,2025,NaN,NaN